{% extends "base.html" %}
{% block content %}
<section id="content">
{% block content_title %}
{% endblock %}

{% for article in articles_page.object_list %}
	{% if loop.first and not articles_page.has_previous() %}
		<aside class="body">
			<article>
				<h1 class="entry-title"><a href="{{ SITEURL }}/{{ article.url }}">{{ article.title }}</a></h1>
				{{ article.content }}
			</article>
		</aside><!-- /#featured -->
		{% if loop.length > 1 %}
				<h3>Read on:</h3>
				<ul id="posts-list" class="hfeed">
		{% endif %}

		{# other items #}
		{% else %}
		{% if loop.first %}
			<section id="content" class="body">

		<ul id="posts-list" class="hfeed" start="{{ articles_paginator.per_page -1 }}">
		{% endif %}
		<li><article class="hentry">
			<header>
				<a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a>
			</header>
		</article></li>
	{% endif %}
	{% if loop.last %}
		{% if loop.length > 1 or articles_page.has_other_pages() %}
			</ul><!-- /#posts-list -->
			{% if articles_page.has_other_pages() %}
				{% include 'pagination.html' %}
			{% endif %}
			</section><!-- /#content -->
		{% endif %}
	{% endif %}
{% endfor %}


{% if articles_page.has_other_pages() %}
    {% include 'pagination.html' %}
{% endif %}
{% endblock content %}
